.css-126euq6-MuiButtonBase-root-MuiListItemButton-root:hover{
    background-color: #D2E3C8 !important;
    color: #3A4D39 !important;
}
.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root{
    padding: 0 !important;
}
.size img{
    background-size: contain;
}
.css-17pmaar-MuiCardContent-root{
    padding: 0 !important;
}